# For local dev, we need to save these as an .env, but we use them as GitHub Actions secrets in production.
GOOGLE_CREDENTIALS_JSON='{"type": "service_account", "project_id": "...", ...}'

#Google Sheet ID (from the URL: https://docs.google.com/spreadsheets/d/SHEET_ID_HERE/edit)
GOOGLE_SHEET_ID=your_sheet_id_here

# Hugo content directory (relative path from this directory)
CONTENT_DIR=../content/post
